# Environment
.env
backend/.env

# Python
venv/
backend/venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
*.log
media/
backend/staticfiles/

# Database
*.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

celerybeat-schedule*

