SECRET_KEY=
DEBUG=True

DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
ALLOWED_HOSTS=
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True

EMAIL_HOST_USER=flowboard.hub@gmail.com
EMAIL_HOST_PASSWORD=

DEFAULT_FROM_EMAIL=FlowBoard <flowboard.hub@gmail.com>
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://127.0.0.1:8000
REDIS_URL=redis://localhost:6379/0
GOOGLE_OAUTH_CLIENT_ID=
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=1